body {
    background-color: #1e1e1e;
    max-width: 1360px;
    margin: 0 auto;
}

#degrade {
    background-image: linear-gradient(#1e1e1e, #0c0c0c);
}

header {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 150px;
    height: 129.3px;
}

.menu-principal ul {
    list-style: none;
    display: flex;
    gap: 44px;
}

.menu-principal ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.menu-principal ul li a:hover {
    color: #666;
}

.botao a {
    text-decoration: none;
}

.botao #entre {
    border-style: none;
    padding-right: 30px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.botao #entre:hover {
    color: #666;
}

.botao #cadastre-se {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.botao #cadastre-se:hover {
    color: #666;
}

.banner {
    padding: 5% 0% 5% 0%;
}

.parteUm {
    padding: 5% 0% 10% 0%;
}

.parteUm h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.parteUm p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.estrutura h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.estrutura ul li {
    list-style: none;
}

.estrutura ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.estrutura ul li::before {
    content: "▪";
    color: #FFFFFF
}

.capacidade h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.capacidade ul li {
    list-style: none;
}

.capacidade ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.capacidade ul li::before {
    content: "▪";
    color: #FFFFFF
}

.parteDoisGeral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}

footer {
    background-color: #000;
}

.footerGeral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 3%;
}

.footerGeral h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.footerGeral h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #666;
    margin: 5% 0% 0% 3%;
}

#svgEtexto {
    display: flex;
    gap: 10px;
}

.rodape {
    padding-top: 10px;
}